<div>
	<h4>Withdraw Amount</h4>

	<%= form_tag :account, url: account_path(@account.id), method: :put do |f| %>
	  <div class="row">
	  	<div class='col-sm-4'>
        <div class="form-group">
			    <%= label_tag :amount %><br />
			    <%= number_field_tag :amount, nil, class: 'form-control' %>
	  		</div>
	  		<div class="text-danger">
					<% if flash.any? %>
						<%= flash[:error] %>
					<% end %>
				</div>
			</div>
	  </div>

	  <div class="actions">
	    <%= submit_tag "submit" %>
	  </div></br>
	  <div><%= link_to 'Back', root_path %></div>
	<% end %>
</div>
